body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}
.main {
  text-align: center;
}
.buton {
  background-color: blue;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.father {
  display: flex;
  border: solid white;
  padding: 20px;
}
.image {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia1.tenor.com%2Fimages%2F60f604fdef85f7c5fd41663773acafcf%2Ftenor.gif%3Fitemid%3D17272801&f=1&nofb=1);
  background-size: cover;
}
.info-card {
  padding-left: 20px;
}
