body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}
.main {
  text-align: center;
}
.buton {
  background-color: blue;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.father {
  display: flex;
  border: solid white;
  padding: 20px;
}
.image {
  width: 100%;
  background-size: cover;
  overflow: hidden;
}
.info-card {
  padding-left: 20px;
}
.card-info-planet {
  background-color: sienna;
  height: 110px;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 190px;
}
